<!DOCTYPE html>
<html lang="en">
    <head>
  <title>POST Blogs</title>
    </head>
    <body>
  <form action="/postblog">
    <div class="blog">
    <input type="file" name="file">
    <input type="text" name="text" id="title">
    </div>
    <input type="submit" value="Post">
  </form>
    </body>
</html>