<!DOCTYPE html>
<html>
    <head>
  <meta name="viewport" content="width=device-width,initial scale=1.0">
  <link rel="stylesheet" href="style.css" type="text/css">
    </head>
    <body>
      <header>
        <div id="profile">
          <a href="/profile"><p>Profile</p></a>
        </div>
      </header>
      <main>
        <button type="button">fy</button>
      </main>
      <footer></footer>
    </body>
</html>