<!DOCTYPE html>
<html>
    <head>
  <meta name="viewport" content="width=device-width,initial scale=1.0">
  <link rel="stylesheet" href="style.css" type="text/css">
    </head>
    <body>
      <header>
        <div id="profile">
          <a href="/profile" id="a"><p>Profile</p></a>
          <% if (username) { %>
            <h1 class="welcome">Welcome, <%= username %>!</h1>
        <% } else { %>
            <h1 class="homepage-welcome">Welcome to the Home Page!</h1>
        <% } %>
        </div>
      </header>
      <main>
        <div id="post-div">
      
        </div>
        <div class="opt-cont">
          <form action="/blogpostpage" method="get">
            <input type="submit" value="+" id="post">
          </form>
          <form method="post" action="/logout">
            <input type="submit" value="logout" id="logout">
          </form>
        </div>
      </main>
      <footer>
      </footer>
  <script>
  document.addEventListener("DOMContentLoaded", () => {
  fetch('http://localhost:4100/getblogs')
    .then(response => response.json())
    .then(data => {
      for (let i = 0; i < data.length; i++) {
        const title = data[i].title;
        const photoUrl = data[i].posturl;

        const div = document.getElementById("post-div");
        const img = document.createElement("img");
        img.src = `.${photoUrl}`; 
        img.alt = title; 
        img.style.width = "200px";
        img.style.height = "200px";
        div.appendChild(img); 
      }
    })
    .catch(error => console.log(error));
});

  </script>
    </body>
</html>