<!DOCTYPE html>
<html lang="en">
    <head>
  <title>Successfully Registered</title>
    </head>
    <body>
        <a href="/"><button>Home</button></a>
  <h1>You have successfully registered</h1>
    </body>
</html>