body{
    width:100vw;
    height:100vh;
    margin:0;
    overflow-x: hidden;
}
.opt-cont{
    background-color: antiquewhite;
    border-radius: 10px;
    width:20vw;
    margin-right:3vw;
    margin-left: auto;
    display: flex;
    flex-direction: column;
}
main{
    width:100vw;
    display:grid;
    grid-template-rows: 1fr 1fr;
}
.opt-cont > form{
    margin-left: auto;
    margin-right: auto;
    margin-top:1vh;
    margin-bottom: 1vh;
}
.post-div{
    border:1px solid black;
    margin-left: 3vw;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-right: 26vw;
}
