body{
    width:100vw;
    height:100vh;
    margin:0;
    overflow-x: hidden;
}
header{
    width:100vw;
    position:fixed;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    top:0;
    left:0;
    right:0;
    height:20vh;
    background:linear-gradient(to bottom , rgb(244, 54, 54) ,rgb(215, 29, 29));
}
.opt-cont{
    background-color: antiquewhite;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
    padding-right: 5vw;
}
.opt-cont2{
    background-color: antiquewhite;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
    padding-right: 5vw;
}
.opt-cont2 > a{
    text-decoration: none;
    color:black;
    &:hover{
        text-decoration: underline black;
    }
}
main{
    width:100vw;
    display:flex;
    justify-content: center;
}
.opt-cont > form{
    margin-left: auto;
    margin-right: auto;
    margin-top:1vh;
    margin-bottom: 1vh;
}
figure{
    border: 1px solid black;
}
figcaption{
    border:1px solid black;
    font-family: system-ui;
    font-size:1.5rem;
}
img{
    object-fit:cover ;
}
#post-div{
    margin-top:25vh;
}