body{
    width:100vw;
    height:100vh;
    margin:0;
    overflow-x: hidden;
}

.opt-cont{
    background-color: antiquewhite;
    border-radius: 10px;
    width:20vw;
    margin-right:3vw;
    margin-left: auto;
    display: flex;
    flex-direction: column;
}
main{
    width:100vw;
    display:flex;
    justify-content: center;
}
.opt-cont > form{
    margin-left: auto;
    margin-right: auto;
    margin-top:1vh;
    margin-bottom: 1vh;
}
figure{
    border: 1px solid black;
}
figcaption{
    border:1px solid black;
    font-family: system-ui;
    font-size:1.5rem;
}
img{
    object-fit:cover ;
}
